<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/post.css">
    <script defer src="/static/comment.js"></script>
    <title>Document</title>
</head>
<body>
    <% if (comment){ %>
        <div class="comment">
            <h1>
                Header: <%= comment.header %>
            </h1>
            <p>
                Body: <%= comment.body %>
            </p>
            <p>
                Image: <%= comment.author %>
            </p>
            <p>
                Post: <%= comment.postId %>
            </p>
        </div>
    <% } else { %>
        <h1>Сторінки не icнує</h1>
    <% } %>
    <a href="/comment/all">Коменти</a>
    
</body>
</html>