<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/posts.css">
    <script defer src="/static/comment.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="comments">
    <h1>comments list: </h1>
    <ul>
        <% comments.forEach((comment) => {%>
            <li>
                <div>   
                    <h1><%= comment.header %></h1>
                    <p><%= comment.body %></p>
                </div>
            </li>
        <%})%>
        <button id = "createCommentButton">create comment</button>
    </div>
</body>
</html>