<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/window.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Сергей сказал что нужно добавить тег h1, я добавила...</h1>
    <a href="/date/">Подивитись дату</a>
    <p>ТЗ:
        Расположить h1 горизонтально в центре в верхней части экрана;
        a - должен быть в центре страницы; 
        p - в самом низу страницы;
    </p>
</body>
</html>