<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./static/login.js" defer></script>
</head>
<body>
    <div class="login">
        <form action="" id="loginForm">
            <input type="email" placeholder="emai" id="inputEmail">
            <input type="password" placeholder="password" id="inputPassword">
            <button type="submit" id="buttonSubmit">login</button>
        </form>
    </div>
</body>
</html>