<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Document</title>
</head>
<body>
    <div class="posts">
    <h1>products list: </h1>
    <ul>
        <% posts.forEach((post) => {%>
            <li>
                <div>   
                    <h1><%= post.name %></h1>
                    <p><%= post.author %></p>
                </div>
            </li>
           
        <%})%>
    </div>
</body>
</html>