<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/posts.css">
    <script defer src="/static/post.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="posts">
    <h1>posts list: </h1>
    <ul>
        <% if (posts){ %>
        <% posts.forEach((post) => { %>
            <li>
                <div>   
                    <h1><%= post.name %></h1>
                    <p><%= post.author %></p>
                    <button id="deleteButton">delete</button>
                </div>
            </li>
        <% }) %>
        <% } else { %>
            <h1>Сторінки не icнує</h1>
        <% } %>
        <button id = "createPostButton">create post</button>
    </div>
</body>
</html>