<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./static/registration.js" defer></script>
</head>
<body>
    <div class="register">
        <form action="" id="registerForm">
            <!-- <input type="text" placeholder="role" id="inputRole"> -->
            <input type="text" placeholder="username" id="inputUsername">
            <input type="email" placeholder="email" id="inputEmail">
            <input type="password" placeholder="password" id="inputPassword">
            <button type="submit" id="buttonSubmit">create</button>
        </form>
    </div>
</body>
</html>