<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/register.js" defer></script>
</head>
<body>
    <div class="register">
        <form action="" id="registerForm">
            <input type="text" placeholder="username" id="inputUsername">
            <input type="text" placeholder="email" id="inputuEmail">
            <input type="text" placeholder="password" id="inputPassword">
            <button type="submit" id="buttonSubmit">button</button>
        </form>
    </div>
</body>
</html>