body{
    width: 100vw;
    height: 100vh;
}
.posts{
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;
    height: 200px;
    background-color: blue;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
