/* чтобы жизнь малиной не казалась*/
body{
    width: 100vw;
    height: 100vh;
    background-color: red;
}
a{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
}
p{
    text-align: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}